[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Bb]uild/
[Bb]uilds/
[Mm]emoryCaptures/

.vs/
.idea/

*.csproj
*.sln
*.suo
*.user
*.userprefs

*.apk
*.aab
*.unitypackage

.DS_Store
Thumbs.db